
:root {
    --first-color: #c29154;
    --second-color: #1E1C1C;
    --bg-color:#f7f7f7;
    --fourth-color:#1E1C1C;
    --text-color  : #EEF5FF;
    --link-color : #dfad6f;

}




:root { 
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .12px;
    --small-font-size: .813rem;
    --banner-font-size: 73px;
    --dropdown-font-size: 10px;
    --footer-big-font-size: 24px;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
    }
}

@media (max-width: 991px) {
    .banner-title h1 {
        font-size: 30px;
    }
} 

@media screen and (min-width: 768px){
    :root { 
        --big-font-size: 12.25rem;
        --h2-font-size: 2rem;
        --normal-font-size: 14px;
        --small-font-size: .875rem;
        --banner-font-size: 75px;
        --dropdown-font-size: 12px;
        --footer-big-font-size: 26px;
    }
}

body {
background-color: #FEFAF6;
min-height: 100vh;
display: grid;
flex-direction: column;
overflow-x: hidden;
}

/* .btn {
    margin-top: 1rem;
    color: #FEFDED;
    background: #dfad6f;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: -120px;
    padding: 5px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
} */

.btn:hover {
    background: #803D3B;
    letter-spacing: .1rem;
}

.back a {
    color: #E08647;
    padding: 100px;
}

html{
    scroll-behavior: smooth;
}

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main_section {
    height: 12px;
}

/* about us about us about us about us */

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    margin-top: 10px;
}
.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;

}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
}
.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img {
    transform: scale(1.2)
}
.about-content {
flex: 1;
}
.about-content h2 {
    font-size: 33px;
    margin-bottom: 15px;
    color: #322C2B;
    font-family: 'DM sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.about-content p {
    font-size: 18px;
    line-height: 1.5s;
    color: #423d3c;
    font-family: 'DM sans', sans-serif;
    font-weight: 250;
}

@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h2 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 16px;
    }
}




.coffee_container {
    height: 300px;
    width: 1400px;
    display: flex;
    padding: 50px;
    margin-left: 20px;
}

.button {
    position: relative;
    top: -75px;
    margin-left: 400px;
    justify-content: center;
}

.coffeebeans img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 5px;
}


.btn-coffee {
    position: absolute;
    color: var(--bg-color);
    /* background: transparent; */
    width: 460px;
    padding: 10px;
    background: #c29154;
    /* top: 935px;
    margin-left: 45px; */
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

.btn-coffee:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bg-coffee {
    background-color: #f3ece5 ;
}

/* did you know banner */

.b-img-container {
        height: 500px;
        width: auto;
        display: flex;
        justify-content: center;
        filter: brightness(70%);
        padding: 50px;
        padding-top: 0;

    
}

.coffee-farm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 5px;
    margin-left: 30px;
}

.beans_title_container {
    padding: 20px;
}

.beans_page_title h1 {
    font-size: var(--banner-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color:#322C2B ;
    font-family: 'DM  sans',sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    padding-top: 80px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.beans_page_title h1 span {
    color: #dfad6f;
    margin-left: 15px;
    font-family: 'DM sans', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;

}

.beans_page_title h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'DM sans', sans-serif;
    color: #322C2B;
    font-size: 24px;
}

.b-img-link {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.496);
        border-radius: .5rem;
        cursor: pointer;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(4px);
        transition: .3s;
}

.coffee-farm .b-img-link:hover {
    bottom: 0;
} 

.logo {
    height: 65px;
    width: auto;
    margin-bottom: 0;
}

.header-1 {
    position: absolute;}

.banner-title {
    position: absolute;
    color: #FEFAF6;
    top: 300px;
    padding-right: 600px;
    padding-left: 150px;
    text-align: left;
    letter-spacing: 2px;
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .banner-title{
        width: 300px;
        margin-right: 90px;
        margin-left: -40px;
        
    }
    .banner-title p {
        font-size: 12px;
    }

    .banner-title h1 {
        font-size: 20px;
    }

    .beans_page_title {
        margin-left: -170px;
    }

    .beans_page_title h1 p{
        font-size: 45px;
    }

    .beans_page_title h3 p{
        font-size: 13px;
    }

    .about-image {
        margin-left: -180px;
        width: 400px;
    }

    .about-content {
        margin-left: -160px;
    }

    .about-content h2 p {
        width: 350px;
        font-weight: bolder;
    }

    .about-content {
        width: 350px;
    }

    .btn-coffee {
        width: 250px;
    }

    .btn-coffee p {
        font-size: 20px;
    }

    .coffee-farm {
        width: 350px;
        margin-left: -130px;
    }

    .grid-wrapper {
        width: 100px;
    }

    .grid-wrapper div img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    }

    .footer-container {
        margin-left: -80px;
    }

}

@media screen and (min-width: 820px) {
    .banner-title{
        margin-right: 90px;
        margin-left: -40px;
        
    }
    .banner-title p {
        font-size: 18px;
    }

    .banner-title h1 {
        font-size: 20px;
    }

    .beans_page_title {
        margin-left: -510px;
    }

    .beans_page_title h1 p{
        font-size: 65px;
    }

    .beans_page_title h3 p{
        font-size: 18px;
    }

    .about-image {
        position: relative;
        margin-left: -280px;
        width: 100px;
    }

    .about-image img {
        width: 300px;
    }

    .about-content {
        position: relative;
        margin-left: -290px;
    }

    .about-content h2 p {
        width: 350px;
        font-weight: bolder;
        font-size: 25px;
    }

    .about-content p {
        width: 330px;
    }

    .btn-coffee {
        margin-left: -250px ;

    }

    .coffeebeans img {

        width: 700px;
    }

    .btn-coffee p {
        font-size: 20px;
    }

    .coffee-farm {
        width: 750px;
        margin-left: -600px;
    }

    .grid-wrapper {
        width: 700px;
        margin-left: 60px;
    }

    .grid-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    }

    .footer-container {
        margin-left: -290px;
    }

}


@media screen and (max-width: 360px) {
    .banner-title{
        width: 300px;
        margin-right: 90px;
        margin-left: -70px;
        
    }
    .banner-title p {
        font-size: 12px;
    }

    .banner-title h1 {
        font-size: 30px;
    }

    .beans_page_title {
        margin-left: -240px;
    }

    .beans_page_title h1 p{
        font-size: 35px;
    }

    .beans_page_title h3 p{
        font-size: 10px;
    }

    .about-image {
        margin-left: -250px;
        width: 250px;
    }

    .about-content {
        margin-left: -240px;
        width: 290px;
    }

    .about-content h2 p {
        width: 350px;
        font-weight: bolder;
    }

    .coffeebeans  {
        margin-left: -25px;
    }

    .btn-coffee {
        width: 250px;
    }

    .btn-coffee p {
        font-size: 20px;
    }

    .coffee-farm {
        width: 320px;
        margin-left: -210px;
    }

    .grid-wrapper {
        width: 100px;
    }

    .grid-wrapper div img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    }

    .footer-container {
        margin-left: -120px;
    }

}


@media screen and (max-width: 375px) {
    .banner-title{
        width: 300px;
        margin-right: 90px;
        margin-left: -70px;
        
    }
    .banner-title p {
        font-size: 12px;
    }

    .banner-title h1 {
        font-size: 30px;
    }

    .beans_page_title {
        margin-left: -240px;
    }

    .beans_page_title h1 p{
        font-size: 35px;
    }

    .beans_page_title h3 p{
        font-size: 10px;
    }

    .about-image {
        margin-left: -250px;
        width: 250px;
    }

    .about-content {
        margin-left: -240px;
        width: 290px;
    }

    .about-content h2 p {
        width: 350px;
        font-weight: bolder;
    }

    .coffeebeans  {
        margin-left: -25px;
    }

    .btn-coffee {
        width: 250px;
    }

    .btn-coffee p {
        font-size: 20px;
    }

    .coffee-farm {
        width: 320px;
        margin-left: -210px;
    }

    .grid-wrapper {
        width: 100px;
    }

    .grid-wrapper div img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    }

    .footer-container {
        margin-left: -120px;
    }

}



@media (max-width: 791px) {
    .banner-title {
        width: 600px;
        padding-left: 100px;
    }
    .banner-title p {
        font-size: 14px;
        width: 320px;
    }

    .coffee_container {
        width: 600px;
        margin-left: 0px ;
    }
    .coffee_container .button {
        width: 100px;
        margin-left: 20px;
    }

    .beans_page_title h1 {
        font-size: 60px;
    }

    .beans_page_title h3 {
        font-size: 16px;
    }

    .b-img-container {
        width: 600px;
        padding-left: 12px;
    }
    .manual_brew_section .menu_box .menu_card {
        width: 50px;
    }
}




.banner-title h1  {
    font-size: var(--banner-font-size);
    /* font-family: 'ephesis' sans-serif; */
    font-weight: bolder;
    font-size: 90px;
}


.banner-title p  {
    color: var(--bg-color)  ;
    font-style: italic;
    font-family: 'dm sans',sans-serif;
    font-weight: 200;
}

/* .banner-title p:hover {
letter-spacing: 3px;
} */

.banner-title p span {
    color: #FFC100;
    font-style: italic;
    font-size: 20px;
}



.banner-title img {
    height: 40px;
    width: auto;
    margin-bottom: 0;
}

.page {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {

/* menu */

.manual_brew_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
}

.section_title {
    font-size: 55px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #322C2B ;
    font-family: 'dm sans',sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}

.section_title span {
    color: #dfad6f;
    display: flex;
    justify-content: flex;
    margin-left: 10px;
}


.section-title::after{
    width: 90px;
    top: 3rem;
}


.section-title::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: .18rem;
    background-color: #dfad6f;
}

.manual_brew_section .menu_box {
    width: 100%;
    height: 0 auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    flex-wrap: wrap;
}

.manual_brew_section .menu_box .menu_card {
    width: 315px;
    height: 400px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px #a7a7a7;
    background: #FEFAF6;
    border-radius: 10px;
}

.manual_brew_section .menu_box .menu_card .menu_image{
    width: 100%;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.manual_brew_section .menu_box .menu_card .menu_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.manual_brew_section .menu_box .menu_card .menu_info {
    margin-left: 13px;
    color: #322C2B;
    font-family: 'poppins', sans-serif;
    font-weight: lighter;
}

.manual_brew_section .menu_box .menu_card .menu_info h2 {
    margin-top: 10px;
    padding: 0;
}

.manual_brew_section .menu_box .menu_card .menu_info h3 {
    margin-top: 20px;
    padding: 0;
    font-size: 1.4rem;
}

.manual_brew_section .menu_box .menu_card .menu_info p {
    margin-top: -25px;
    font-size: 1rem;
    color: #4d4343;
}
}

/* navbar_menu */
.nav {
    height: 2rem;
    display: flex;
    margin-left: auto;
    width: 100%;

}


/* @media screen and (max-width: 748px) {
    .nav_list{
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(245, 245, 245, 0.525);
        transition: .5s;

    }
    
} */

.nav-link {
    font-family: 'poppins', sans-serif;
}

.nav-link:hover {
    color: #dfad6f;
}

.active::after{
    background-color: #dfad6f;
}


*, ::before, ::after{
    box-sizing: border-box;
}

ul {
    list-style: none ;
}

a {
    text-decoration: none;
}

/* Show menu */

.show{
    right: 0;

}

.page_title {
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

.title_container {
    padding: 20px;
}

.page_title h1 {
    font-size: var(--banner-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color:#322C2B ;
    font-family: 'DM sans',sans-serif;
    font-weight: 900;

}

.page_title h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'DM sans', sans-serif;
    color: #322C2B;
}

.page_title h1 span {
    color: #dfad6f;
    margin-left: 15px;
    font-family: 'DM sans', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
}


.page_title h3 span {
    color: #dfad6f;
    font-family: 'raleway';
    font-weight: bolder;
}

/* header homepage*/


.header-1 {
    width: 100%;
    position: fixed;
    background-color: var(--first-color);
    top: 0;
    left: 0;
    z-index: 100;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
}


.nav_list{
    flex: 1;
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    justify-content: center;
}

.nav_item .nav_item {
    margin-bottom: 0;

}

.nav_link{
    color: var(--link-color);
    text-decoration: none;
}

.nav-link a {
    font-size: 30px;
}

.nav_link:hover {
    color: var(--link-color);
}

.nav {
    height: calc(3rem + 1rem);
}
.nav_list {
    display: flex;
    align-items: center;
    position: absolute;
    left:60%;
}

.header-1 ul li .nav_list {
    float: right;
    align-items: end;
}

.nav_list .dropdown ul {
    padding: 0 0 0;
    text-align: center;
}

.nav_list .dropdown ul li  {
    width: 100%;
}

.nav_list .dropdown li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.dropdown {
    position: absolute;
    background: #c29154;
    box-shadow: 0 2px 4px #121212;
    border-radius: 0.5rem;
    font-size: var(--dropdown-font-size) ;
    display: none;
    justify-content: center;
}

.nav_item .dropdown {
    text-align: left;
}

.nav_item {
    margin-left: 2rem;
    margin-bottom: 0;
    text-decoration: none;
}

.dropdown .nav_item {
    margin-left: 1rem;
}

.nav_toggle {
    display: none;
}

.nav_link {
    color: var(--bg-color);
    font-family: 'poppins', sans-serif;
    font-size: var(--normal-font-size); 
    
}

.nav_link:hover {
    color: #dfad6f;
    text-align: center;
    vertical-align: auto;

}

.header-1  ul li:hover ul.dropdown {
    display: block;
    text-align: center;
    padding: 10px 15px;
    padding-left: 0;
    margin: 0;
}

.header-1    ul li:hover ul li .dropdown {
    text-align: left;
    display: flex;
}

.active::after{
    background-color: var(--first-color);
}

.navbar-brand {
    padding: 0;
    float: left;
    width: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.navbar-brand:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bg-vid {
    width: 100%;
    height: 100vh;
    position: absolute;
    filter:opacity(60%);
    z-index: -99;
}

.bg-vid video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 110%;
    z-index: -99;
}

.nav_toggle {
    color: #f7f7f7;
    font-size: 1.5rem;
    cursor: pointer;
}

/* RESPONSIVE DESIGN */

@media(max-width: 992px){
    .toggle-btn{
        display: flex;
        align-items: end;
    }
}

/* end header homepage*/

/*gallery gallery gallery */

.grid-wrapper img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all 0.6s;
    filter:grayscale(60%)
}

.grid-wrapper img:hover {
    overflow: hidden;
    transform: scale(1.1);
    filter:grayscale(0%)
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    padding: 30px;
    overflow: hidden;
}

@media (max-width: 791px) {
    .grid-wrapper {
        width: 600px;
        justify-content: center;
    }
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row:  span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}


    /* Location Page */

    .map_location {
        padding: 20px;
    }

    .map_location iframe {
        padding-top: 100px;
        height: 100%;
        width: 100%;
        display: flex;
        padding-left: 20px;

    }

    /* Media Queries */
@media screen and (min-width: 768px) {


}

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
footer {
    background-color: #c29154;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2rem;
    color: #c29154;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #c29154;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: disc;
    text-decoration: none;
    list-style: none;
}

.footer-nav ul li a {
    color: white;
    margin: 20px;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5ms;
    list-style: none;
}

.footer-nav ul li a:hover {
    opacity: 1;
}

.footer-bottom {
    background-color: #c29154;
    padding: 20px;
    text-align: center;
}
.footer-bottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footer-nav ul {
        flex-direction: column;
    }
    .footer-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10pxs;
    }
}








